.button {
    display: none;
    width: 30px;
  }
  
  .navbar {
    background-color: var(--primary-cl);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    display: flex;
    transition: all 0.5s ease-out ;
  }

  .menu a {
    text-decoration: none;
    color: var(--txt-cl);
  }
  
  .link {
    list-style: none;
    margin: 0 0.5em;
    color: var(--txt-cl);
  }
  
  @media (max-width: 600px) {
    .button {
      display: block;
    }
    .menu {
      background-color: var(--secondary-cl);
      position: absolute;
      top: 50px;
      left: 20px;
      flex-direction: column;
      align-items: start;
      height: 30vh;
    }
  }
  